/*
 * CSS for hacky little callout bubble,
 * inspired by http://codepen.io/wolthers/pen/LkOLQA
 */

.rangeslider__callout {
  position: absolute;
  left: 6px;
  top: 6px;
  transform-origin: 0 0;
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  user-select: none;
  cursor: pointer;
}
.rangeslider__callout .rangeslider__callout_inner {
  display: block;
  position: absolute;
  height: 60px;
  line-height: 60px;
  min-width: 32px;
  padding: 0 20px;
  top: -26px;
  transform: translate(-50%, -100%);
  background: #383c42;
  color: #fff;
  border-radius: 100px;
  white-space: nowrap;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}
.rangeslider__callout .rangeslider__callout_inner:before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  border: 10px solid #383c42;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
  transform: translateX(-50%);
}
